<!DOCTYPE html>
<html>
<head>
	<title>2D loop</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>
<div ng-app="" ng-init="names=[{name:'Helga', country:'Sweden'},
							   {name:'Reece', country:'Libya'},
							   {name:'Timon', country:'Ghana'}]">
	<p>Looping with ng-repeat:</p>
  <ul>
    <li ng-repeat="x in names">
      {{ x.name+','+x.country }}
    </li>
  </ul>
</div>
</body>
</html>