<!DOCTYPE html>
<html>
<head>
	<title>Arrays</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>

<body>

<div ng-app="" ng-init="points=[1,15,19,2,40]">

<p>The third result is: {{ points[2] }}</p>
<p>3rd:<span ng-bind="points[2]"></span></p>
</div>

</body>
</html>
