<!DOCTYPE html>
<html>
<head>
	<title>Data binding</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>
<div data-ng-app="" data-ng-init="quantity=4;price=67">
	<p>Quantity:<input type="number" ng-model="quantity"></p>
	<p>Price:<input type="number" ng-model="price"></p>
	<p>Total:{{quantity*price}}</p>
</div>
</body>
</html>