<!DOCTYPE html>
<html>
<head>
	<title>Angular JS expressions</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>
<div ng-app="myApp" ng-controller="myCtrl">
	<p>Age:{{20+3}}</p>
	<p>Type your name here:<input type="text" ng-model="name"></p>
	<p>Name:{{name}}</p>
	First name: <input type="text" ng-model="firstName"><br>
	Middle name: <input type="text" ng-model="middleName"><br>
	<br>
	Full name:{{firstName+" "+middleName}}

</div>
<script>
	var app=angular.module('myApp',[]);
	app.controller('myCtrl',function($scope){
		$scope.firstName="Daisy";
		$scope.middleName="Koome";
	});
</script>
</body>
</html>