<!DOCTYPE html>
<html>
<head>
	<title>Intro to Angular</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>
	<div ng-app="">
<p>Write something</p>
<p><input type="text" ng-model="name" placeholder="Enter your names"></p>
<h1>Hello {{name}}</h1>
	</div>
</body>
</html>