<!DOCTYPE html>
<html>
<head>
	<title>Looping</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>
	<div ng-app="" ng-init="names=['Jani','Hege','Kai']">
  <p>Looping with ng-repeat:</p>
  <ul>
    <li ng-repeat="x in names">
      {{ x }}
    </li>
  </ul>
</div>

<!-- <div ng-app="" ng-init="names=['Daisy','Feli,'Ken','Janine']">
	<p>Looping names:</p>
	<ul>
		<li ng-repeat="x in names">
			{{ x }}
		</li>
	</ul>
</div> -->
</body>
</html>