<!DOCTYPE html>
<html>
<head>
	<title>Modules</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>
<div ng-app="myApp" ng-controller="myCtrl">
	{{firstName + " " + lastName}}
</div>
<script src="myApp.js"></script>
<script type="myCtrl.js"></script>
</body>
</html>