<!DOCTYPE html>
<html>
<head>
	<title>Modules</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>
<div ng-app="myApp" ng-controller="myCtrl">
	{{firstName+" "+lastName}}
</div>
<script>
	var app=angular.module("myApp",[]);
	app.controller("myCtrl", function($scope){
		$scope.firstName="Daisy";
		$scope.lastName="Koome";
	});
</script>
</body>
</html>