<!DOCTYPE html>
<html>
<head>
	<title>Number expressions</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>
<div ng-app="" ng-init="quantity=92;cost=5">
	<p>Total:{{quantity*cost}}</p>
	Quantity + cost: <span ng-bind="quantity+cost"></span>
</div>
</body>
</html>