<!DOCTYPE html>
<html>
<head>
	<title>Objects</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>
<div ng-app="" ng-init="person={middleName:'Cindy',surname:'Barners'}">
	<p>I go by the name: {{person.middleName}}</p>
	<blockquote>ng-bind:<span ng-bind="person.surname"></span></blockquote><br>
	<div ng-init="points=[1,15,19,2,40]">

	<p>The third result is: {{ points[2] }}</p>

	</div>

<!-- titus 3:5 eph 5:26 1 Cor 4:15 James 1:18 1 Peter 1:22,25 Acts 2:38,41-->
</div>
</body>
</html>
