<!DOCTYPE html>
<html>
<head>
	<title>String expressions</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>
<div ng-app="" ng-init="firstName='Dee';middleName='Kagz'">
	<p>Full name is:{{firstName + " " + middleName}}</p>
	Bind version:<span ng-bind="firstName + ' '+ middleName"></span>
	<div ng-init="person={middleName:'Cindy',surname:'Barners'}">
	<p>I go by the name: {{person.middleName}}</p>
	</div>
</div>

</body>
</html>